@font-face{
    font-family: 'Inter';
    src: url('fonts/inter/Inter-Regular.woff') format('woff');
    src: url('fonts/inter/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Inter';
    src: url('fonts/inter/Inter-Medium.woff') format('woff');
    src: url('fonts/inter/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Inter';
    src: url('fonts/inter/Inter-SemiBold.woff') format('woff');
    src: url('fonts/inter/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Inter';
    src: url('fonts/inter/Inter-Bold.woff') format('woff');
    src: url('fonts/inter/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Charter';
    src: url('fonts/charter/charter_regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #FFFEFC;
    font-family: 'Inter', sans-serif;
    color: #27251F;
}

.charter-body{
    font-family: 'Charter';
    font-size: 22px;
}

*{
    box-sizing: border-box;
}

.col-12{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.col-10{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.col-8{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.col-4{
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
}

.flx{
    display: flex;
}

a{
    text-decoration: none;
    color: #27251F;
}

nav{
    width: 100%;
    height: 60px;
}

.nav-cont{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.nav-items li a{
    padding: 0px 15px 0px 15px;
    font-weight: 500;
    background-image: linear-gradient(180deg, transparent 40%, #FFF0C9 40%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms ease;
}

.nav-items li a:hover{
    background-size: 100% 100%;
    transition: background-size 400ms ease;
}

.hero-sec-cont{
    height: 100vh;
    align-items: center;
}

.hero-sec{
    text-align: center;
    padding-bottom: 120px;
}

.my-pic{
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 30%;
    overflow: hidden;
}

.my-pic img{
    width: 100%;
}

.hero-heading{
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 18px;
    font-weight: 700;
}

.hero-sub-heading{
    margin-top: 0px;
    margin-bottom: 30px;
    line-height: 33px;
    font-family: 'Charter';
    font-size: 25px;
    font-weight: 400;
}

.btn{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px 12px 24px;
    background-color: #FFF9ED;
    border: 2px solid #27251F;
    border-radius: 3px;
    cursor: pointer;
    -moz-box-shadow: -4px -4px 0px -2px #FFFEFC,
                -4px -4px 0px 0px #27251F;
    -webkit-box-shadow: -4px -4px 0px -2px #FFFEFC,
                -4px -4px 0px 0px #27251F;
    box-shadow: -4px -4px 0px -2px #FFFEFC,
                -4px -4px 0px 0px #27251F;
    transition: box-shadow 200ms ease-out, background-color 400ms;
}

.btn:hover{
    -moz-box-shadow: 0px 0px 0px -2px #FFFEFC,
                0px 0px 0px 0px #27251F;
    -webkit-box-shadow: 0px 0px 0px -2px #FFFEFC,
                0px 0px 0px 0px #27251F;
    box-shadow: 0px 0px 0px -2px #FFFEFC,
                0px 0px 0px 0px #27251F;
    background-color: #FFF2D9;
}

.work-card-cont{
    justify-content: space-between;
    margin-bottom: 100px;
}

.work-card{
    width: 100%;
    max-width: 444px;
}

.work-image{
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 23px rgba(113, 113, 113, 0.5);
    -moz-box-shadow: 0px 2px 23px rgba(113, 113, 113, 0.5);
    box-shadow: 0px 2px 23px rgba(113, 113, 113, 0.5);
}

.work-image img{
    display: block;
    width: 100%;
}

.work-title h3{
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0px 0px 0px;
    line-height: 46px;
}

.work-brief{
    font-family: 'Charter';
    font-size: 22px;
    color: #7C7C7C;
    line-height: 31px;
}

.work-cta{
    margin-top: 12px;
}

.work-cta a{
    font-size: 16px;
    font-weight: 600;
    background-image: linear-gradient(180deg, transparent 40%, #FFF0C9 40%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms ease;
}

.work-cta a:hover{
    background-size: 100% 100%;
    transition: background-size 400ms ease;
}

.btn-arrow{
    margin-left: 2px;
}

footer{
    padding: 100px 0px 100px 0px;
}

.copyright{
    text-align: center;
    color: #7C7C7C;
    font-weight: 400;
}

.social-icons{
    justify-content: center;
    margin-bottom: 30px;
}

.social-icons a{
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    border: 1px solid #27251F;
    border-radius: 50%;
    margin: 0px 10px 0px 10px;
}

.social-icons a:hover{
    background-color: #FFF2D9;
}



/* Media queries: */
@media only screen and (max-width: 900px) {
    .hero-sec-cont {
        height: initial;
    }
    .my-pic {
        width: 150px;
        height: 150px;
        margin-top: 60px;
    }
    .hero-heading {
        font-size: 26px;
    }
    .break{
        display: none;
    }
    .hero-sub-heading {
        font-size: 16px;
        line-height: 24px;
    }
    .btn{
        font-size: 14px;
    }
    .work-card-cont{
        display: block;
    }
    .work-card{
        margin-bottom: 40px;
        max-width: initial;
    }
    .work-title h3{
        font-size: 18px;
        line-height: initial;
    }
    .work-brief{
        font-size: 16px;
    }
    .work-cta{
        margin-top: 6px;
    }
    .work-cta{
        font-size: 14px;
    }
}
